In [3]:
%run helpers.py

In [14]:
from surprise import Dataset, SVD
from surprise.model_selection import cross_validate


# Load the movielens-100k dataset (download it if needed),
data = Dataset.load_builtin("ml-100k")

# We'll use the famous SVD algorithm.
algo = SVD()

# Run 5-fold cross-validation and print results
cross_validate(algo, data, measures=["RMSE", "MAE"], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9335  0.9387  0.9339  0.9315  0.9378  0.9351  0.0027
MAE (testset)     0.7396  0.7390  0.7390  0.7345  0.7371  0.7378  0.0019
Fit time          0.33    0.40    0.32    0.31    0.31    0.33    0.03
Test time         0.05    0.13    0.05    0.05    0.05    0.06    0.03

{'test_rmse': array([0.93347868, 0.93873719, 0.93393608, 0.93149599, 0.93781978]),
 'test_mae': array([0.73959522, 0.73896953, 0.73904676, 0.73447846, 0.73706093]),
 'fit_time': (0.32613563537597656,
  0.39800143241882324,
  0.31909799575805664,
  0.3075110912322998,
  0.30877208709716797),
 'test_time': (0.0458219051361084,
  0.12646722793579102,
  0.04607391357421875,
  0.04618048667907715,
  0.046150922775268555)}

In [30]:
uid = str(621)  # raw user id (as in the ratings file). They are **strings**!
iid = str(386)  # raw item id (as in the ratings file). They are **strings**!

# get a prediction for specific users and items.
pred = algo.predict(uid, iid)
pred.est

3.0084553000326295

In [22]:
import surprise
import pandas as pd

data = surprise.Dataset.load_builtin('ml-100k')
ddir = surprise.get_dataset_dir()

item_data = pd.read_csv(f'{ddir}/ml-100k/ml-100k/u.item',
                        sep='|',
                        header=None,
                        encoding='ISO-8859-1',
                        usecols=[0, 1],
                        names=['iid', 'item_name'])

def dataset2df(ds, train=True):
  df = pd.DataFrame(ds.all_ratings() if train else ds,
                    columns=['uid', 'iid', 'rating'])
  if train:
    df.uid = df.uid.apply(trainset.to_raw_uid)
    df.iid = df.iid.apply(trainset.to_raw_iid)
  df.uid = df.uid.astype(int)
  df.iid = df.iid.astype(int)
  return pd.merge(df, item_data, how='left')

def datasets2dfs(trainset, testset):
  df_train = dataset2df(trainset)
  df_test = dataset2df(testset, train=False)
  return df_train, df_test

In [23]:
trainset = data.build_full_trainset()
testset = trainset.build_anti_testset()
df_train, df_test = datasets2dfs(trainset, testset)

In [29]:
trainset, testset = surprise.model_selection.train_test_split(data, test_size=.25)
df_train, df_test = datasets2dfs(trainset, testset)
df_test

       uid   iid  rating                    item_name
0      621   386     3.0  Addams Family Values (1993)
1      228   750     3.0               Amistad (1997)
2      203   879     4.0       Peacemaker, The (1997)
3       21    17     4.0   From Dusk Till Dawn (1996)
4       16   286     2.0  English Patient, The (1996)
...    ...   ...     ...                          ...
24995  537   972     3.0          Passion Fish (1992)
24996  504   318     5.0      Schindler's List (1993)
24997  889   513     4.0        Third Man, The (1949)
24998  447  1028     3.0      Grumpier Old Men (1995)
24999  663   864     3.0   My Fellow Americans (1996)

[25000 rows x 4 columns]

In [ ]:
df_test