In [15]:
import pandas as pd
import duckdb

df = pd.DataFrame({'a' : [1, 2, 3]})
df2 = pd.DataFrame({'b' : [4, 5, 6]})
x = 0
duckdb.query("SELECT a,b FROM df,df2").to_df()

   a  b
0  1  4
1  1  5
2  1  6
3  2  4
4  2  5
5  2  6
6  3  4
7  3  5
8  3  6